@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  background: #eff3f8;
  padding: 1rem;
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

html.dark body {
  background: #020617;
}

html.dark .card {
  background: #071426;
}
